@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.icon-option {
    @include flex($direction: column, $justify: center, $align: center);
    margin: 0 .5rem 0 0;

    &__name {
        @include fonts("text-primary");
        margin: .5rem 0 0 0;
        text-align: center;
        font-size: $fs-xsmal;
    }

    &__icon {
        @include flex($justify: center, $align: center);
        background: $primary-bg-color;
        height: 4rem;
        width: 4rem;
        border-radius: $border-radius-circle;

        i {
            width: auto;
            font-size: 1rem;
        }
    }
}