@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.list-item {
    padding: 1rem;
    border-bottom: .1rem solid $primary-border-color;

    &__title {
        @include fonts("title-s");
    }

    &__description {
        @include fonts("description-paragraph-xs");
        @include truncate(100%);
        margin: .1rem 0 0 0;
    }
}