@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.container {
    width: 100%;

    .header {
        width: 91%;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: auto auto;
        padding: 1rem;
        position: fixed;
        background: $tertiary-bg-color;
        top: 0;

        &__close {
            @include flex($align: center);
            background: none;
            border: none;
            padding: 0;

            i {
                font-size: 1.75rem;
                color: $secondary-font-color;
            }
        }

        &__title {
            @include flex($align: center, $justify: center);
            @include fonts("title-n");
        }

        &__searchbar {
            margin: 1rem 0 0 0;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row: 2;
        }
    }

    .footer {
        border-top: .125rem solid $primary-border-color;
        position: fixed;
        bottom: 0;
        padding: 1rem;
        background: $tertiary-bg-color;
        width: 91%;

        &__button {
            @include flex($align: center, $justify: center);
            @include fonts("title-s");
            padding: .5rem;
            width: 100%;
            background: $primary-bg-color;
            border: none;
            border-radius: $border-radius;

            i {
                font-size: 1.5rem;
                margin: 0 .5rem 0 0;
            }
        }
    }

    .content {
        padding: 104px 0 70px 0;
    }
}