<section class="container">
    <div class="account">
        <h2 class="account__title">Conta</h2>
        <i class="ri-arrow-right-s-line account__icon"></i>
    </div>

    <div class="fast-feats">
        <h3 class="fast-feats__title"> {{ user.saldo | currencyBrl }} </h3>

        <div class="fast-feats__feats">
            <app-carousel>
                <app-icon-option *ngFor="let option of options" [icon]="option.icon" [name]="option.name"></app-icon-option>
            </app-carousel>
        </div>

        <div class="fast-feats__cards">
            <app-mark icon="ri-bank-card-2-line" text="Meus cartões"></app-mark>
        </div>
        
        <div class="fast-feats__infos">
            <app-carousel>
                <app-spotlight-card *ngFor="let info of infos" [text]="info"></app-spotlight-card>
            </app-carousel>
        </div>
    </div>

    <div class="card">
        <i class="ri-bank-card-2-line card__icon"></i>

        <div class="card__go-to-page">
            <h2 class="card__go-to-page__title">Cartão de crédito</h2>
            <i class="ri-arrow-right-s-line card__go-to-page__icon"></i>
        </div>

        <div class="card__infos">
            <p class="card__infos__paragraph">Fatura atual</p>
            <h3 class="card__infos__title"> {{ user.fatura | currencyBrl }} </h3>
            <p class="card__infos__paragraph">Limite disponível R$ 100.763,00</p>
        </div>

        <div class="card__cashback">
            <app-mark icon="ri-gift-line" text="Mega"></app-mark> 
        </div>
    </div>

    <div class="lending">
        <i class="ri-hand-coin-line lending__icon"></i>

        <div class="lending__go-to-page">
            <h2 class="lending__go-to-page__title">Empréstimo</h2>
            <i class="ri-arrow-right-s-line lending__go-to-page__icon"></i>
        </div>

        <div class="lending__infos">
            <p class="lending__infos__paragraph">Valor disponível de até</p>
            <p class="lending__infos__paragraph"> {{ user.emprestimo | currencyBrl }} </p>
        </div>
    </div>

    <div class="life-insurance">
        <i class="ri-shield-line life-insurance__icon"></i>

        <div class="life-insurance__go-to-page">
            <h2 class="life-insurance__go-to-page__title">Seguro de vida</h2>
            <i class="ri-arrow-right-s-line life-insurance__go-to-page__icon"></i>
        </div>

        <p class="life-insurance__paragraph">Conheça Byte Encryption: um seguro simples e que cabe no bolso.</p>
    </div>

    <div class="discover">
        <h2 class="discover__title">Descubra mais</h2>

        <div class="discover__itens">
            <app-carousel>
                <app-redirect-card *ngFor="let n of news" [title]="n.title" [description]="n.description" [buttonLabel]="n.buttonLabel" [feat]="n.feat"></app-redirect-card>
            </app-carousel>
        </div>
    </div>
</section>