$primary-color: #369c38;

$primary-font-color: #000000;
$secondary-font-color: #bfbfbf;
$tertiary-font-color: #ffffff;
$quaternary-font-color: #369c38;

$primary-bg-color: #ededed;
$secondary-bg-color: #369c38;
$tertiary-bg-color: #ffffff;

$primary-border-color: #ededed;

$border-radius: .5rem;
$border-radius-circle: 50%;
$border-radius-semi-circle: 2rem;

$fs-xsmal: .75rem;
$fs-smal: .875rem;
$fs-normal: 1rem;
$fs-medium: 1.25rem;
$fs-large: 1.5rem;
$fs-xlarge: 1.75rem;